.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.titre {
    display: flex;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.desc {
    display: flex;
    border: 2px solid black;
    padding: 20px;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    height: fit-content;
    width: fit-content;
}